[Desktop Entry]
Version=1.0
Type=Application
Name=Alquife
GenericName=Subsonic Music Client
Comment=Terminal-based Subsonic music client
Exec=alquife
Icon=alquife
Terminal=true
Categories=AudioVideo;Audio;Player;
Keywords=music;subsonic;audio;terminal;
StartupNotify=false
